body {
	background-color:#faf7ef;
}

.center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "bebas-neue", sans-serif;
	line-height: 100%;
}

header {
	//height:130px;
	padding:20px 0;
	background-color: #fff;
	nav {
		font-family: "bebas-neue", sans-serif;
		font-size:18px;
		li {
			a {
				color: #7d603e;
			}
		}
		.top {
			margin-top:10px;
		}
		.main {
			margin-top:10px;
			li {
				font-size: 32px;
				a {
					color: #333;
				}
			}
		}
	}
}

.text-shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.big_bold{
	font-size:50px;
	line-height: 100%;
	color:#f5cf5c;
	font-family: "bebas-neue", sans-serif;
	text-align:center;
	.text-shadow;
	margin-top:10%;
	margin-bottom:0px;
}

.hero {
	height:400px;
	background: url(../img/bg.jpg) no-repeat center center;
	.cover;
	p {
		font-size:50px;
		line-height: 100%;
		color:#f5cf5c;
		font-family: "bebas-neue", sans-serif;
		text-align:center;
		.text-shadow;
		margin-top:10%;
	}
}

.map {
	h3 {
		.big_bold;
		margin:0px 0px 20px;
	}
	p {
		.big_bold;
		font-size:24px;
		margin-top:0px;
		color:#e0d1a3;
		font-family: sans-serif;
		margin-bottom:20px;
	}
	background: url(../img/map.jpg) center center;
	padding:40px 0;
	ul {
		li {
			font-family: "bebas-neue", sans-serif;
			color:#e0d1a3;
			font-size:18px;
			margin-bottom:15px;
		}
	}
}

.waist {
	text-align: center;
	padding-bottom:20px;
	img {
		background-color: #fff;
		padding:10px;
		box-shadow: 0px 0px 10px 5px #ccc;
	}
	h3 {
		color:#76923c;
		font-size:36px;
		font-weight: 400;
		margin-bottom:0px;
		.text-shadow;
	}
	h4 {
		color:#76923c;
		font-size:22px;
		font-weight: 400;
		margin:0 0 10px;
		.text-shadow;
	}
	h5 {
		font-family: sans-serif;
		text-transform: uppercase;
		margin-top:20px;	
	}
	li a {
		color:#999;
		text-decoration: underline;
	}
	.btn {
		width:230px;
		margin-top:20px;
	}
}

.who {
	padding-top:40px;
	background-color: #faf7ef;
	.arrow {
		background:url('../img/divider.png') center center;
		height:84px;
		margin-bottom:-40px;
		.cover;
	}
	h3 {
		color:#76923c;
		font-size:36px;
		font-weight: 400;
		margin-bottom:0px;
		.text-shadow;
	}
	p {
		a.norm {
			color:#286f4a;
			text-transform: uppercase;
		}
	}
	.who-are-we {
		margin-bottom:20px;
	}
}

.btn-flat {
	
}