body {
	// background-color:#5e5e5e;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "bebas-neue", sans-serif;
}

header nav {
	font-family: "bebas-neue", sans-serif;
	font-size:24px;
	li {
		a {
			color: #7d603e;
		}
	}
	.top {
		margin-top:10px;
	}
	.main {
		margin-top:10px;
		li {
			a {
				color: #333;
			}
		}
	}
}

.hero {
	height:400px;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}